*.suo
/HMI-JavaFX/nbproject/private/
/HMI-JavaFX/build/
/HMI-JavaFX/dist/
/HMI-JavaFX/*.ser
/ActiveObject/thecloudbook-active-object-library/nbproject/private/
/ActiveObject/thecloudbook-active-object-library/build/
/ActiveObject/thecloudbook-active-object-library/dist/