/* RESET */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Our CSS */
html {
	background: url(./clouds_large.png);
}
body {
   max-width: 200mm;
   margin: auto;
   padding: 15px 25px 0px 25px;
   font-family: Tahoma, Arial, sans-serif;
   font-size: 1em;
   line-height: 1.5em;
   opacity: 0.75;
   background: #000;
   color: #FFF;
   padding-bottom: 50px;
}
body p {
	text-align: justify;
}
body header {
	text-align: center;
	margin-bottom: 1em;
}
body header h1 {
	font-size: 3em;
	line-height: 1.0em;
}
body header h2 {
	font-size: 0.98em;
}
body .keywords {
	margin-top: 1em;
	text-align: center;
}
body .keywords h1 {
	font-weight: bold;
	margin-bottom: 0.8em;
}
body .keywords ul {
	margin-left: 10%;
	width: 80%;
}
body .keywords li {
	color: #000;
	display: inline-block;
	margin: 0px 8px 8px 8px;
	padding: 3px 7px 3px 7px;
	background: #bcd4e6;
	-webkit-border-radius: 5x;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
body img {
	width: 200px;
	display: block;
	margin: 0 auto;
	padding-top: 20px;
}
